.cell {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  width: 50px;
  height: 20px;
  display: inline-block;

  font-height: 10px;
}

.highlighted {
  background: red;
}

#roll {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
